{% assign _SERVER_ = 'https://sp-seller.webkul.com/' %}

{% assign _DSM_SERVER_ = 'https://app-sp.webkul.com/delivery-slot-management/web/' %}

{% assign _BOOKING_COMMERCE_SERVER_PATH_ = 'bookingcommerce.com' %}

{% assign draft_order_enabled = 0 %}

{% assign pickup_by_cart_enabled = 0 %}
{% assign delivery_slot_management_enabled = 0 %}

{% if shop.metafields.dsm_widget == null or shop.metafields.dsm_widget.dsm_widget_allow_page == 'Product Page' %}
  {% assign delivery_slot_management_enabled = 0 %}
{% endif %}
{% if delivery_slot_management_enabled == 1 %}
  <script src="{{ _DSM_SERVER_ }}shopify-widget/widget.js"></script>
  <link rel="stylesheet" href="{{ _DSM_SERVER_ }}shopify-widget/widget.css">

  {{ 'https://bookingcommerce.com/widget/js/tiny-date-picker.min.js' | script_tag }}
  {{ 'https://bookingcommerce.com/widget/js/moment.js' | script_tag }}
  {{ 'https://bookingcommerce.com/widget/js/moment-timezone.js' | script_tag }}
  {{ 'https://bookingcommerce.com/widget/js/moment-timezone-with-data.min.js' | script_tag }}

  <link href="https://bookingcommerce.com/widget/css/tiny-date-picker.css" rel="stylesheet">
  <link href="https://bookingcommerce.com/widget/css/tiny-daterange-picker.css" rel="stylesheet">
  <link href="https://bookingcommerce.com/widget/css/font.css" rel="stylesheet">

  {%- assign dsmConfig = shop.metafields.dsm_widget | json -%}
  {%- assign dsmLabels = shop.metafields.dsm_labels | json -%}

  <script>
    const dsmVendors = {};
  </script>
{% endif %}

<div class="wk-main-conent__split-cart">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  <input
    type="hidden"
    id="server_name"
    value="{{ _SERVER_ }}"
  >
  {% comment %}
    <div class='rte'>
    <div class='mp_sp_page' data-cust='{{ customer.id }}'></div>
    <div class='mp-loader'>
    <div class='mp-spinner'></div>
    <div class='title-text'>Please Wait...</div>
    </div>
    </div>
  {% endcomment %}
  <script>
    var from_cart_page = true;
    var server_name = document.getElementById("server_name").value;
    var draft_order_enabled = "{{draft_order_enabled}}";
    var DELIVERY_SLOT_MANAGEMENT_ENABLED = {% if delivery_slot_management_enabled == 1 %}
      true
    {% else %}
      false{% endif %};
    var pickup_by_cart_enabled = "{{pickup_by_cart_enabled}}";
    var pickup_by_cart_error_message = " not Available at selected Location";
    var want_order_as_label = "{{want_order_as_label | default:"Want Order As"}}";
    var route_public_token = "411fb1c4-616a-4279-a1a1-aafe1afbc7ea";
    if (typeof(label_data) != "undefined" && label_data && label_data.label34) {
      wk_preorder_qty_error_label = label_data.label34;
    } else {
      wk_preorder_qty_error_label = "Product quantity available for preorder is less than the quantity added to the cart. Kindly, reduce the product quantity & proceed to checkout.";
    }
  </script>

  {{ _SERVER_ | append: 'assets/split-cart/wk-split-cart-thanku.js' | script_tag }}
  {{ 'wk-split-cart.css' | asset_url | stylesheet_tag }}
  {% if cart.item_count > 0 %}
    <h1 class="h2">Your Shopping Cart</h1>
    <div
      class=""
      id="wk_minimum_purchase_div"
      style="display:none;"
    ></div>
    <form
      action="/cart"
      method="post"
      novalidate
    >
      {% assign tem_vendor_wise_products = '' %}
      {% for item in cart.items %}
        {% assign tem_vendor_wise_products = tem_vendor_wise_products | append: item.vendor | append: '$!$' %}
      {% endfor %}
      {% assign vendor_wise_products = tem_vendor_wise_products | split: '$!$' | uniq %}
      {% assign vendors = '' %}
      <script>
        var vendors = "{{tem_vendor_wise_products|replace:"&amp;","&"}}"
        var vend = {{vendor_wise_products|json}};
        var order_note1 = sessionStorage.getItem("order_note");
        var new_order_note = {};
        if (order_note1) {
          order_note1 = JSON.parse(order_note1);
          for (j = 0; j < vend.length; j ++) {
            if (order_note1[vend[j]] != undefined)
              new_order_note[vend[j]] = order_note1[vend[j]];

          }

        }
        sessionStorage.removeItem("order_note")
        sessionStorage.setItem("order_note", JSON.stringify(new_order_note))


        function u(e, o, r, n) {
          var t = "https://api.route.com";
          o || (o =
            {}),
          e += "?" + function(e) {
            var o = [];
            for (var t in e)
              e.hasOwnProperty(t) && o.push(encodeURIComponent(t) + "=" + encodeURIComponent(e[t]));

            return o.join("&")
          }(o);
          var i = new XMLHttpRequest;
          "stage" === n && (t = "https://api-stage.route.com");
          var a = t + e;
          i.open("GET", a),
          i.setRequestHeader("token", m),
          i.onload = function() {
            if (200 === i.status)
              try {
                r(JSON.parse(i.responseText))
              }
             catch (e) {
              r(i.responseText)
            } else
              r({error: i.status})

          },
          i.send()
        }
        get_quote_vendor = function(e, o, t, r, vendor) {
          m = e,
          u("/v1/quote", {
            subtotal: o,
            currency: t
          }, function(e) {
            n = e.currency,
            d = e.insurance_price,
            r({currency: n, insurance_price: e.insurance_price, vendor: vendor})
          })
        };
        function update_price(data) {

          console.log("udpate " + JSON.stringify(data));
          if (data.vendor != "undefined") {
            $("#" + data.vendor).text(data.insurance_price);
            $("#" + data.vendor).attr("data-price", data.insurance_price);
          }
        }
      </script>

      {% for vendor in vendor_wise_products %}
        {% assign cart_loc_array = '' %}

        <div style="padding: 5px; font-size: 16px; color:#333; font-weight: bold; margin-top: 20px;">
          Sold By {{ vendor }}
        </div>
        <table class="wk-split__cart__table">
          <thead>
            <tr>
              <th colspan="2">Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th style="text-align: right;">Total Price</th>
            </tr>
          </thead>
          <tbody>
            {% assign total_price = 0 %}
            {% assign order_note = '' %}
            {% assign params = '' %}
            {% assign param = '' %}
            {% assign properties = '' %}
            {% assign wk_pay_whatever_extra_price = 0 %}
            {% assign wk_addon_cart_total = 0 %}
            {% assign all_product_available = true %}

            {% for item in cart.items %}
              {% if item.product.tags contains 'preorder' %}
                <span class="wk_po_count" style="display:none;"></span>
              {% endif %}
              {% assign wk_addon_price = 0 %}
              {% if item.product.tags contains 'wk_slot'
                and customer != empty
                and customer.tags contains 'VIP'
                or customer.tags contains 'GOLD'
              %}
                <span class="wk_slot_count" style="display:none;"></span>
              {% endif %}
              {% if item.product.tags contains 'wk_pay_what_you_want' and item.properties.wk_custom_price %}
                <span class="wk_pay_what_you_want_count_split_cart" style="display:none;"></span>
              {% endif %}

              {% if item.vendor == vendor %}
                {% unless item.product.published_at %}
                  {% assign all_product_available = false %}
                {% endunless %}
                <tr data-line="{{ forloop.index }}">
                  <td class="item-image">
                    <a href="{{ item.url }}"
                      ><img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"
                    ></a>
                  </td>
                  <td class="item-name">
                    <div>
                      <a href="{{ item.url }}">
                        {{ item.product.title }}
                      </a>
                      {% unless item.variant.title contains 'Default' %}
                        <br>
                        <small style="font-size: 13px;color: #d22573;">{{ item.variant.title }}</small>
                      {% endunless %}

                      {% if settings.product_quantity_message
                        and item.variant.inventory_management
                        and item.variant.inventory_quantity <= 0
                        and item.variant.incoming
                      %}
                        {% assign date = item.variant.next_incoming_date | date: format: 'month_day_year' %}
                        <p>
                          <small>{{ 'products.product.will_not_ship_until' | t: date: date }}</small>
                        </p>
                      {% endif %}

                      {% assign property_size = item.properties | size %}
                      {% assign total_price = total_price | plus: item.line_price %}
                      {% assign properties = item.properties | json %}
                      {% assign params = params | append: item.id | append: '&*#*&' | append: item.quantity %}
                      {% if property_size > 0 %}
                        {% assign params = params | append: '&*#*&{"' %}
                        <div class="cart__meta-text">
                          {% for p in item.properties %}
                            {% if forloop.first %}<br>{% endif %}
                            {% assign params = params | append: p.first | append: '":"' | append: p.last %}
                            {% assign first_character_in_key = p.first | truncate: 1, '' %}
                            {% unless p.last == blank or first_character_in_key == '_' or p.first == 'wk_cart_loc' %}
                              {% if p.first contains 'Extra/' %}
                                {% assign wk_addon_price = p.last | times: 100 | plus: wk_addon_price -%}
                                <span class="wk_addon_count" style="display:none;"></span>
                              {% endif %}
                              {{ p.first }}:
                              {% if p.last contains '/uploads/' %}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {% else %}
                                {{ p.last }}
                              {% endif %}
                              <br>
                            {% endunless %}

                            {% if forloop.last == true %}
                              {% assign params = params | append: '"' %}
                            {% else %}
                              {% assign params = params | append: '","' %}
                            {% endif %}
                          {% endfor %}
                          {% unless item.product.published_at %}
                            <span class="out_of_stock" style="color:red;"
                              >Product is no more available please remove this from cart and proceed.</span
                            >
                          {% endunless %}
                        </div>
                        {% assign params = params | append: '}' %}
                      {% endif %}
                      {% assign wk_addon_line_price = wk_addon_price | times: item.quantity %}
                      {% assign total_price = total_price | plus: wk_addon_line_price %}
                    </div>
                    <div class="wk-remove-product">
                      <a
                        href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                        data-line="{{ forloop.index }}"
                        onclick="wkRemoveItem('{{ vendor | escape }}')"
                      >
                        <span class="wk-trash-icon" aria-hidden="true"></span>
                        <span>Remove</span>
                      </a>
                    </div>
                  </td>
                  <td class="item-price">
                    <span
                      {% if item.product.tags contains 'wk_slot'
                        and customer != empty
                        and customer.tags contains 'VIP'
                        or customer.tags contains 'GOLD'
                      %}
                        id="price_{{item.variant_id}}"
                      {% endif %}
                    >
                      {% if item.product.tags contains 'wk_pay_what_you_want' and item.properties.wk_custom_price %}
                        {{ item.properties.wk_custom_price | times: 100 | money }}
                      {% else %}
                        {{ item.price | plus: wk_addon_price | money }}
                      {% endif %}
                    </span>
                  </td>
                  <td class="item-qty">
                    <span
                      {% if item.product.tags contains 'wk_slot'
                        and customer != empty
                        and customer.tags contains 'VIP'
                        or customer.tags contains 'GOLD'
                      %}
                        id="qty_{{item.variant_id}}"
                      {% endif %}
                    >
                      <input
                        type="number"
                        name="updates[{{item.id}}]"
                        id="updates_{{ item.variant_id }}"
                        data-id="{{ item.key }}"
                        value="{{ item.quantity }}"
                        min="0"
                        data-line="{{ forloop.index }}"
                        style="margin: 0px 10px 10px 0px;"
                        {% if item.product.tags contains 'wk_booking' %}
                          disabled
                        {% endif %}
                      >
                    </span>
                    {% unless item.product.tags contains 'wk_booking' -%}
                      <input
                        type="submit"
                        name="update[{{item.id}}]"
                        id="wk-update-quantity"
                        onclick="wkRemoveItem('{{ vendor | escape }}')"
                        class="wk-btn-secondary"
                        value="Update"
                      >
                    {%- endunless %}
                  </td>
                  <td style="text-align: right;" class="item-subtotal">
                    <span
                      {% if item.product.tags contains 'wk_slot'
                        and customer != empty
                        and customer.tags contains 'VIP'
                        or customer.tags contains 'GOLD'
                      %}
                        id="total_price_{{item.variant_id}}"
                      {% endif %}
                    >
                      {% if item.product.tags contains 'wk_pay_what_you_want' and item.properties.wk_custom_price %}
                        {% assign pay_whatever_line_price = item.properties.wk_custom_price
                          | times: item.quantity
                          | times: 100
                        %}
                        {{ pay_whatever_line_price | money }}
                        {% assign wk_pay_whatever_extra_price = pay_whatever_line_price
                          | minus: item.line_price
                          | plus: wk_pay_whatever_extra_price
                        %}
                      {% else %}
                        {{ item.line_price | plus: wk_addon_line_price | money }}
                      {% endif %}
                    </span>
                  </td>
                  {% assign param = param | append: item.id | append: ':' | append: item.quantity %}
                  {% assign param = param | append: ',' %}
                  {% assign params = params | append: '$^$' %}
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <div class="wk-order-footer">
          {% if pickup_by_cart_enabled %}
            <div class="wk-cart-pickup-div">
              <div id="wkCartLoc_{{vendor | replace : " ", "_"}}" class="wk-cart-pickup">
                <div
                  class="wk-pickup-by-cart"
                  id="pickup-by-cart{{vendor | replace : " ", "_"}}"
                  style="display:none"
                >
                  <h2 class="want_order_as_label">Want Order As</h2>
                  <span id="{{vendor | replace : " ", "_"| append : '_delivery_p'}}"
                    ><input
                      type="radio"
                      class="wk-radio"
                      name="{{vendor | append : 'attributes-store_pickup'}}"
                      id="{{vendor | replace : " ", "_"| append : '_delivery'}}"
                      value="NO"
                      style="min-height:0;"
                    >
                    Delivery
                  </span>
                  <br>
                  <span id="{{vendor | replace : " ", "_"| append : '_store_pickup_p'}}"
                    ><input
                      type="radio"
                      class="wk-radio"
                      name="{{vendor | append : 'attributes-store_pickup'}}"
                      id="{{vendor | replace : " ", "_"| append : '_store_pickup'}}"
                      value="YES"
                      style="min-height:0;"
                    >
                    Store Pickup
                  </span>
                  <br>
                  <p id="{{vendor | replace : " ", "_"| append : '_note'}}" style="display:none">
                    <strong>Note : </strong>
                    Only Store Pickup Available For This Order
                  </p>
                  <select
                    class="wk_cart_pickup_locations"
                    id="cart_pickup_{{vendor| replace : " ", "_"}}"
                    style="display:none"
                    name="attribites[store_pickup_address]"
                  ></select>
                </div>
              </div>
              <div id="wkCartLocError_{{vendor | replace : " ", "_"}}" class="wk-cart-pickup-loc-error"></div>
            </div>
          {% endif %}
          <div class="order-note-dsm-container">
            <div class="wk-order-note">
              <label for="cartSpecialInstructions">Special instruction for seller</label>
              <textarea
                name="note"
                class="input-full cartSpecialInstructions"
                id="cartSpecialInstructions_{{vendor}}"
              >{{ cart_loc_array }}</textarea>
            </div>

            {% if delivery_slot_management_enabled == 1 %}
              {%- assign dsmVendor = vendor | replace: ' ', '_' -%}

              <div
                id="dsm-split-cart-widget_{{ dsmVendor }}"
                class="dsm-split-cart-widget"
                data-vendor-name="{{ vendor }}"
                data-vendor="{{ vendor | replace: "&amp;", "&" | escape }}"
              >
                <div class="wk-cart-widget" id="wk-cart-widget">
                  <div class="wk-cart-widget-wrapper">
                    <div id="wk-delivery-methods-container">
                      <div id="wk-delivery-methods-wrapper" class="dsm-form-group">
                        <label for="wk-delivery-methods-selector">{{ shop.metafields.dsm_labels.label_10 }}</label>
                        <select class="dsm-form-control" id="wk-delivery-methods-selector">
                          <option
                            value=""
                            disabled
                            selected
                            hidden
                          >
                            {{ shop.metafields.dsm_labels.label_10 }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div id="wk-dsm-widget"></div>
                    <input
                      type="hidden"
                      name="attributes[Delivery Slot Management]"
                      value="false"
                    >
                    <input type="hidden" name="attributes[Delivery From]">
                    <input type="hidden" name="attributes[Delivery To]">
                    <input type="hidden" name="attributes[__Delivery Timezone]">
                    <input type="hidden" name="attributes[Delivery Timestamp]">
                    <input type="hidden" name="attributes[Delivery Slot Date]">
                    <input type="hidden" name="attributes[Delivery Slot]">
                    <input type="hidden" name="attributes[__Delivery Method]">
                    <input type="hidden" name="attributes[__Delivery Method Title]">
                    <div id="wk-input-container"></div>
                  </div>
                </div>
                <script>
                  dsmVendors["{{ dsmVendor }}"] = {
                    checkoutSelector: 'button.wk-buy[data-vendor=" {{ vendor | replace: "&amp;", "&" | escape }} "]',
                    widgetSelector: '[id="dsm-split-cart-widget_ {{ dsmVendor }} "]',
                    vendor: '{{ vendor }}',
                    shopname: '{{ shop.name }}'
                  };
                </script>
              </div>
            {% endif %}
          </div>
          <div class="wk-order-subtotal">
            <span style="font-weight: bold;"> Subtotal </span>
            <span
              style="padding-left: 30px;"
              data-price="{{ total_price | plus: wk_pay_whatever_extra_price}}"
              data-currency="{{cart.currency.iso_code}}"
              data-wk_slot_subtotal="wk_slot"
              data-wk_selected_tag="{% if customer.tags contains 'VIP' %}VIP{% elsif customer.tags contains 'GOLD' %}GOLD{% endif %}"
              id="wk_subtotal_{{ vendor | replace: ' ', ''}}"
            >
              {{- total_price | plus: wk_pay_whatever_extra_price | money -}}
            </span>
            <p class="cart-subtotal__note">
              <em>Shipping, taxes, and discounts will be calculated at checkout.</em>
            </p>
            {% assign siz = param | siz | minus: 1 %}
            {% assign param = param | slice: 0, siz %}
            {% assign size = params | size | minus: 3 %}
            {% assign params = params | slice: 0, size %}
            <script>
              var setToSessionStorage = function(time, vendor, params, vendor_wise_products, count) {
                if (count > 10)
                  return false;

                setTimeout(() => {
                  if (typeof window.wk_loaded != "undefined" && window.wk_loaded) {
                    sessionStorage.setItem(vendor, params)
                    sessionStorage.setItem("WK_SHOPIFY_SPLIT_CART", vendor_wise_products)
                  } else
                    setToSessionStorage(time + 5000, vendor, params, vendor_wise_products, count++);

                }, time)
              }
              setToSessionStorage(0, {{ vendor | json }}, {{ params | json}}, {{ vendor_wise_products | json }}, 0);
            </script>
            <script>
              var order_note = sessionStorage.getItem("order_note");
              if (order_note) {
                order_note = JSON.parse(order_note)
                order_note = order_note[{{vendor | json}}]
                if (document.getElementById("cartSpecialInstructions_ {{vendor}}") != null) {
                  if (typeof order_note != "undefined")
                    document.getElementById("cartSpecialInstructions_ {{vendor}}").value = order_note;
                   else
                    document.getElementById("cartSpecialInstructions_ {{vendor}}").value = "";

                }
              }
            </script>
            <div style="margin-top: 15px;">
              <a href="/collections/vendors?q={{ vendor | url_param_escape }}" class="wk-continue-shopping"
                >Continue shopping</a
              >
              {% if all_product_available %}
                <a
                  href="cart/"
                  target="_blank"
                  id="checkout_id"
                >
                  <button
                    type="button"
                    class="wk-buy"
                    data-params="{{param}}"
                    data-vendor="{{ vendor|replace: "&amp;", "&" | escape }}"
                  >
                    Buy from this seller
                  </button>
                </a>
              {% endif %}
            </div>
            <span id="wk_cart_error_{{vendor | replace: ' ', '_'}}" style="display:none"
              >Store Closed, Try after some time</span
            >
          </div>
        </div>
        {% comment %}
          Route Insurance Code
            <div class="WkRouteWidget" data-insurance_checked = false id="route_insurance_{{vendor| replace: ' ', '_' | replace: "&amp;", "&" | escape}}"><div class="route-div"><div class="route-widget-slider"><div class="route-widget mobile-align-undefined desktop-align-undefined"><span></span><div class="rw-contents"><div class="rw-left"><img class="rw-route-logo" src="https://cdn.routeapp.io/route-widget-shopify/stable/images/RoutePlusGray.svg" style="display: inline-block;"><img class="rw-route-logo-white" src="https://cdn.routeapp.io/route-widget-shopify/stable/images/RoutePlusWhite.svg" style="display: inline-block;"></div><div class="rw-center"><div class="rw-text-top">Shipping Protection<span class="rw-info">i</span></div><div class="rw-text-bottom">from Damage, Loss &amp; Theft for <strong class="getInsurencePrice" id="insurance_price_{{vendor |replace: " ", "_"}}" data-vendor="{{vendor |replace: " ", "_"}}" data-price="0" style="cursor: pointer">Click to calculate...</strong></div></div><div class="rw-right"><span class="rw-checkbox-span rw-unchecked"  data-vendor="{{vendor |replace: " ", "_"}}"><span class="rw-slider rw-unchecked"></span><span class="rw-on-text rw-unchecked">On</span><span class="rw-off-text rw-unchecked">Off</span></span></div></div></div></div></div></div>
            <script> get_quote_vendor(route_public_token, {{ total_price | plus: wk_pay_whatever_extra_price}}/100, "{{cart.currency.iso_code}}" , update_price, "insurance_price_{{vendor |replace: " ", "_"}}");</script>
          Route Insurance code Ended
        {% endcomment %}
      {% endfor %}

      {% if delivery_slot_management_enabled == 1 %}
        {% capture file_content %}
          {% include 'dsm-split-cart-helper-widget.liquid' %}{% endcapture %}
        {% unless file_content contains 'Liquid error' %}
          {{ file_content }}
        {% endunless %}

        <script>
          
          
          (() => {
            let bcWidgetOptions = {};
            if (typeof options !== 'undefined') {
              bcWidgetOptions = options;
            }

            document.querySelectorAll('button.wk-buy').forEach(button => button.setAttribute('disabled', true));

            const removeWidget = () => {
              document.querySelectorAll('.dsm-split-cart-widget').forEach(widget => widget.remove());
              document.querySelectorAll('button.wk-buy').forEach(button => button.removeAttribute('disabled'));
            };


            const dsmPromise = new Promise(resolve => {
              $.ajax({
                url: "{{ _DSM_SERVER_ }} front/delivery-methods?store= {{ shop.permanent_domain }}&page=cart",
                success: (data) => {
                  if (data && data['deliveryMethods'] && data['deliveryMethods'].length > 0) 
                    resolve(data);
                   else 
                    removeWidget();
                  
                },
                error: (error) => {
                  removeWidget();
                  console.log(error);
                }
              })
            });

            if (!('DeliverySlotManagement' in window)) 
              window['DeliverySlotManagement'] = {};
            

            Object.assign(window['DeliverySlotManagement'], {
              resolver: {
                deliveryMethodsResolver: {
                  subscribe: (callback) => dsmPromise.then(callback)
                }
              },
              bcWidgetOptions: Object.assign(
                    {
                  vendors: dsmVendors,
                  shopDomain: '{{ shop.permanent_domain }}',
                  shopifyPath: '{{ _DSM_SERVER_ }}',
                  baseurl: 'https:// {{ shop.metafields.dsm_widget.wk_bc_shop_domain }}. {{ _BOOKING_COMMERCE_SERVER_PATH_ }}/en',
                  widgetType: 'individual',
                  buyNowButtonClass: '',
                  buyNowButtonSelector: '',
                  bookingButtonId: '',
                  fixedDateFormat: true,
                  bookingConfigurationType: 'time_slots',
                  bookingLabels: `{{ dsmLabels }}`,
                  dateFormat:{% if shop.metafields.dsm_widget.dateFormat %}
                    '{{ shop.metafields.dsm_widget.dateFormat }}' {% else %}'YYYY-MM-DD'{% endif %},
                    slotTimeFormat:{% if shop.metafields.dsm_widget.slotTimeFormat %}
                      '{{ shop.metafields.dsm_widget.slotTimeFormat }}' {% else %}'12'{% endif %},
                      timezoneSelectBox:{% if shop.metafields.dsm_widget.dsm_widget_timezone_select %}
                        {{ shop.metafields.dsm_widget.dsm_widget_timezone_select }}
                      {% else %}
                        false
                      {% endif %}
                    },
                    bcWidgetOptions
                  )
                });
              })();


        </script>
      {% endif %}
      <script>
        sessionStorage.removeItem("WK_DRAFT_VENDOR");
        $(window).on('load', (function() {
          if (pickup_by_cart_enabled == 1) {
            var latitude = false;
            var longitude = false;
            var customisable = true;
            var wk_customer_location = window.localStorage.getItem('wk_customer_location');
            if (wk_customer_location && wk_customer_location.length != 0) {
              wk_customer_location = JSON.parse(wk_customer_location);
              latitude = wk_customer_location.lat;
              longitude = wk_customer_location.lng;
            }
            jQuery.ajax({
              url: server_name + "index.php?p=get_pickup_by_cart",
              dataType: 'jsonp',
              type: 'GET',
              contentType: 'application/json',
              jsonpCallback: 'getSellerPickupLocation',
              data: {
                shop_name: Shopify.shop,
                vendors: vendors,
                latitude: latitude,
                longitude: longitude,
                customisable: customisable
              },
              success: function(data) {
                for (vendor in data) {
                  if (typeof vendor !== "false" && $.trim(data[vendor]) != "false") {
                    cart_loc_vendor = vendor.split(" ");
                    cart_loc_vendor = cart_loc_vendor.join("_");
                    if (customisable) {
                      $("*[id='pickup-by-cart" + cart_loc_vendor + "']").show();
                      if (data[vendor]['mode'] == "0") {
                        if (data[vendor]['default_selected'] == "1") { // store_pickup checked
                          $("*[id='" + cart_loc_vendor + "_store_pickup']").prop("checked", true);
                          $("*[id='cart_pickup_" + cart_loc_vendor + "']").show();
                        } else
                          $("*[id='" + cart_loc_vendor + "_delivery']").prop("checked", true);


                      } else {
                        $("*[id='" + cart_loc_vendor + "_store_pickup']").prop("checked", true);
                        $("*[id='cart_pickup_" + cart_loc_vendor + "']").show();
                        $("*[id='" + cart_loc_vendor + "_delivery_p']").hide();
                        $("*[id='" + cart_loc_vendor + "_note']").show();
                      }
                      $("*[id='cart_pickup_" + cart_loc_vendor + "']").html(data[vendor]['location_html'])
                    }
                  }
                }
              },
              complete: function() {
                $('.wk-radio').on('change', function() {
                  $(this).parent().find('.wk_cart_pickup_locations').toggle();
                  $(this)
                    .parent()
                    .parent()
                    .find('.wk_cart_pickup_locations')
                    .toggle();
                })
                $('.wk_cart_pickup_locations').on('change', function() {
                  $('.wk-buy').show();
                })
              }
            })
          }
        }))
        $(document).on("click", ".route-rm-close-modal", function() {
          $(".route-modal").removeClass("rm-open");
        });
        $(".rw-info").on("click", function() {
          $(".route-modal").addClass("rm-open");
        });
        $(".rw-checkbox-span").on("click", function() {
          if ($(this).hasClass("rw-unchecked")) {
            $(this).parents(".WkRouteWidget").attr("data-insurance_checked", true);
            $(this).removeClass("rw-unchecked");
            $(this).addClass("rw-checked");
            $(this).children("span.rw-unchecked").removeClass("rw-unchecked");
            $(this).children("span").addClass("rw-checked");

          } else {
            $(this).parents(".WkRouteWidget").attr("data-insurance_checked", false);
            $(this).removeClass("rw-checked");
            $(this).addClass("rw-unchecked");
            $(this).children(".rw-checked").removeClass("rw-checked");
            $(this).children().addClass("rw-unchecked");
          }
        })
        $(".getInsurencePrice, .rw-checkbox-span").on("click", function() {
          var vendor = $(this).attr("data-vendor");
          var price = $("#wk_subtotal_" + vendor).attr("data-price");
          var currency = $("#wk_subtotal_" + vendor).attr("data-currency");
          console.log("price " + price / 100);
          get_quote_vendor(route_public_token, price / 100, currency, update_price, "insurance_price_" + vendor);

        })
      </script>
      {{ 'wk-split-cart.js' | asset_url | script_tag }}
    </form>
  {% else %}
    <div id="EmptyCart">
      <h1 class="h2">Your Shopping cart</h1>
      <p class="cart--empty-message">Your cart is currently empty.</p>
      <p class="cart--continue-message">Continue browsing <a href="/collections/all">here</a>.</p>
    </div>
  {% endif %}
  <div class="route-modal">
    <div class="route-modal-box">
      <img class="background" src="https://cdn.routeapp.io/route-widget-shopify/stable/images/LightboxBackground.svg">
      <img class="route-line" src="https://cdn.routeapp.io/route-widget-shopify/stable/images/RouteLine.png">
      <img class="route-rm-close-modal" src="https://cdn.routeapp.io/route-widget-shopify/stable/images/CloseIcon.svg">
      <div class="route-modal-header">
        <img
          class="route-rm-route-logo"
          src="https://cdn.routeapp.io/route-widget-shopify/stable/images/RouteLogoWhite.svg"
        >
        <img
          class="route-rm-route-logo-color"
          src="https://cdn.routeapp.io/route-widget-shopify/stable/images/RouteLogoKiona.png"
        >
        <div class="route-rm-secure-with">
          Secure your shipment and easily <br>
          resolve order issues with one tap.
        </div>
      </div>
      <div class="route-modal-content">
        <div class="icon-box1">
          <span class="route-rm-icon-box1">
            <img
              class="route-rm-icon-box-image"
              src="https://cdn.routeapp.io/route-widget-shopify/stable/images/Purchase_RoutePlus.svg"
              alt="Secured your shipment"
            >
          </span>
          <div class="route-rm-text1">
            Protect orders from loss,<br>
            damage, or theft.
          </div>
        </div>
        <div class="icon-box2">
          <span class="route-rm-icon-box2">
            <img
              class="route-rm-icon-box-image"
              src="https://cdn.routeapp.io/route-widget-shopify/stable/images/Instant_Protection.svg"
              alt="Instantly insured"
            >
          </span>
          <div class="route-rm-text2">
            Backed by Lloyds of<br>
            London through Route.
          </div>
        </div>
        <div class="icon-box3">
          <span class="route-rm-icon-box3">
            <img
              class="route-rm-icon-box-image"
              src="https://cdn.routeapp.io/route-widget-shopify/stable/images/LBBox_3.svg"
              alt="One click claims"
            >
          </span>
          <div class="route-rm-text3">
            Refunds or reorders<br>
            in just a few clicks.
          </div>
        </div>
      </div>
      <div class="route-modal-footer">
        <div class="rm-footer-1">
          <div class="route-rm-terms">
            This optional protection is offered to you solely in order to effectuate the shipment of your package(s).
            Route is the named assured on the Route Policy of which your shipment will be protected on. The cost of
            adding your shipment to the Route Policy includes compensation paid to Safe Order Solutions, LLC (a licensed
            insurance agency affiliate of Route), for making this protection available.
          </div>
        </div>
        <div class="rm-footer-2">
          <div class="route-rm-copyright">Route App © 2020 Route App</div>
          <div class="route-rm-user-privacy">
            <a
              class="route-rm-user-privacy-text"
              href="https://route.com/privacy-page/"
              target="_blank"
              rel="noopener noreferrer"
            >
              User Privacy
            </a>
          </div>
          <div class="route-rm-terms-of-use">
            <a
              class="route-rm-terms-of-use-text"
              href="https://route.com/terms-and-conditions/"
              target="_blank"
              rel="noopener noreferrer"
            >
              User Terms of Use
            </a>
          </div>
          <div class="route-rm-lloyds-container">
            Backed by
            <img
              class="route-rm-lloyds-image"
              src="https://cdn.routeapp.io/route-widget-shopify/stable/images/LloydsLogo.png"
              alt="Lloyd's of London"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": {
    "en": "Split Cart"
  },
  "settings": [],
  "presets": [
    {
      "name": {
        "en": "Split Cart"
      },
      "category": {
        "en": "Split Cart"
      }
    }
  ]
}
{% endschema %}
